<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  backupGlobals="false" 
  colors="true" 
  processIsolation="false" 
  stopOnFailure="false" 
  bootstrap="test/bootstrap.php" 
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd" 
  cacheDirectory=".phpunit.cache" 
  backupStaticProperties="false"
>
  <testsuites>
    <testsuite name="Framework Test Suite">
      <file>test/FrameworkTest.php</file>
      <file>test/DecoratorTest.php</file>
      <file>test/SchemaTest.php</file>
      <file>test/FieldsetTest.php</file>
      <file>test/Fieldset/ValidatorTest.php</file>
      <file>test/Field/AbstractFieldTest.php</file>
      <file>test/Field/ActiveTest.php</file>
      <file>test/Field/CreatedTest.php</file>
      <file>test/Field/FieldRegistryTest.php</file>
      <file>test/Field/NoneTest.php</file>
      <file>test/Field/UpdatedTest.php</file>
      <file>test/Format/AbstractFormatterTest.php</file>
      <file>test/Format/FormatterRegistryTest.php</file>
      <file>test/Format/HideTest.php</file>
      <file>test/Format/NoneTest.php</file>
      <file>test/Schema/ValidatorTest.php</file>
      <file>test/Validation/AbstractValidatorTest.php</file>
      <file>test/Validation/RequiredTest.php</file>
      <file>test/Validation/UniqueTest.php</file>
      <file>test/Validation/ValidatorRegistryTest.php</file>
      <file>test/SystemExceptionTest.php</file>
      <file>test/Package/Config/ConfigExceptionTest.php</file>
      <file>test/Package/Config/ConfigPackageTest.php</file>
      <file>test/Package/Event/EventPackageTest.php</file>
      <file>test/Package/Host/HostPackageTest.php</file>
      <file>test/Package/Http/HttpPackageTest.php</file>
      <file>test/Package/PDO/PDOPackageTest.php</file>
    </testsuite>
  </testsuites>

  <coverage pathCoverage="true"/>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory>./vendor</directory>
      <directory>./test</directory>
      <file>src/Field/FieldInterface.php</file>
      <file>src/Field/FieldTypes.php</file>
      <file>src/Fieldset/FieldsetTypes.php</file>
      <file>src/Format/FormatterInterface.php</file>
      <file>src/Format/FormatTypes.php</file>
      <file>src/Validation/ValidatorInterface.php</file>
      <file>src/Validation/ValidationTypes.php</file>
      <file>src/Package/Event/.incept.php</file>
      <file>src/Package/Http/.incept.php</file>
      <file>src/Package/Resolver/.incept.php</file>
      <file>src/Package/Terminal/.incept.php</file>
      <file>src/Package/Config/.incept.php</file>
      <file>src/Package/PDO/.incept.php</file>
      <file>src/Package/Language/.incept.php</file>
      <file>src/Package/Timezone/.incept.php</file>
    </exclude>
  </source>
</phpunit>
